.container{
    width: 1100px;
    margin: 0 auto;

}
#header{
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
}
#header .container{
    height: 70px;
    display: flex;
    align-items: center;
}
#header .logo{
    margin-right: 100px;

}
#header .logo a{
    color: #ffffff;
    font-size: 25px;
}
#header nav{
   flex: 1 ;
    display: flex;
    justify-content: flex-end;
}
#header nav ul{
    display: flex;
}
#header nav .nav-item{

}

#header nav .nav-item .nav-link{
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    padding: 20px;
    text-transform: uppercase;
}
#header nav .nav-item .nav-link:hover{
    color: #f44336;
}
.sns-links{
    margin-left: 40px;
}
.sns-links a{
    color: #ffffff;
    display: inline-block;
    margin-left: 10px;
}
.visual{
    height: 726px;
    background: #fff url("../images/Rectangle.png") 0 0 /cover  no-repeat;
    display: flex;
    align-items: center;;
}
.visual .text{
    max-width: 550px;
}
.visual .text h1{
    font-size: 53px;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 11px;
}
.visual .text p {
    color: #ffffff;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 42px;
}
.visual .text a{
    width: 179px;
    height: 54px;
    background: #f44336;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
}
.visual .text a:hover{
    background: #7d211f;
}
.visual .text a i{
    margin-right: 10px;
}

main{
    max-width: 1380px;
    margin: -60px auto 0 ;
    border-radius: 6px;
    box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.14), 0 8px 10px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding-bottom: 100px;
}
.main-section{
    padding-top: 95px;
}
.main-section header{
    text-align: center;
    margin-bottom: 80px;
}
.main-section header h2{
    font-size: 36px;
    color: #333333;
    font-weight: normal;
}

.main-section header p{
    font-size: 18px;
    color: #999999;
    font-weight: 300;
    max-width: 723px;
    margin: 38px auto 0;
    line-height: normal;
}
.main-section ul {
    display: flex;

}
.main-section ul li {
    flex: 1;
    padding: 0 30px;
}

.main-section ul li .item {
    text-align: center;
}

.main-section ul li .item img {
    margin-bottom: 31px;
}

.main-section ul li .item h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 18px;
    font-weight: 500;
}

.main-section ul li .item p {
    color: #999;
    font-weight: 300;
    line-height: normal;
}